* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Mate SC', serif;
}

.btn {
  font-family: "Monument Bold";
  cursor: pointer;
  transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.btn-bg {
  background: rgb(0, 0, 0);
  padding: 0.5rem 1rem;
  mix-blend-mode: screen; /* This makes the cutout text possible */
  color: white;
}

.btn-bordered {
  border: 2px solid rgb(0, 0, 0);
}

.btn-light {
  font-family: "Monument Bold" !important;
}

.btn:hover, btn-bg:hover {
  transform: scale(1.05);
}

.btn-small {
  font-size: .8rem;
  text-align: left;
}

.btn-dappy {
  width: 60%;
  margin: 0 auto;
  display: flex; 
  justify-content: center;
}

.btn-icon {
  font-size: 1.2rem; 
  margin-right: .2rem
}

.rounded {
  border-radius: 150px;
}

.wiggling:hover {
  animation: tada;
  animation-duration: 1s;
}

.login-page {
  background-color: gray;
  background-position: center;
  background-size: fill;
  background-repeat: no-repeat;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  overflow-x: hidden;
  font-family: "Acumin Regular";
  box-sizing: border-box;
  max-width: 100vw;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.app {
  text-align: center;
}

.app__title {
  font-family: "Monument Bold";
  color: white;
  font-size: 3.5rem;
  margin-top: 0;
  margin-bottom: 0;
}

.app__subtitle {
  font-family: "Monument Light";
}

.highlight {
  color: yellow;
  display: inline-block;
}

.break {
  color: yellow;
  word-break: break-all;
  color: red !important;
}

@media (min-width: 700px) {
  .mobile_only {
    display: none;
  }
}